@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto&display=swap");

body {
  margin: 0px;
  background-color: rgb(182, 247, 247);
  font-family: "Poppins", sans-serif;
  color: white;
}
main {
  padding: 4vw 8.75%;
}
p {
  text-align: justify;
  font-size: 1vw;
}
/* Banner*/
#title {
  background: linear-gradient(to left, #018219, #0f0164);
  height: 60vh;
  border-radius: 1.5vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 4vw;
  margin: 0px;
  font-weight: 700;
  line-height: 3.5vw;
}
.titlePart {
  width: 40%;
  padding: 0 2%;
}
.titlePart img {
  height: 100%;
  width: 100%;
}
#part1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buttons {
  width: 12.1vw;
  height: 8.86vh;
  background-color: rgb(93, 88, 88);
  border-radius: 0.33vw;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/*2nd box*/
section {
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
}
.tabButtons {
  width: 85%;
  height: 21%;
  border-radius: 10px;
  background-color: rgb(122, 178, 9);
  font-weight: 500;
  font-size: 1.2vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: grab;
}
.tabButtons a {
  text-decoration: none;
  color: white;
  width: 100%;
  text-align: center;
}
#current {
  background-color: rgb(93, 88, 88);
  border: 5px solid white;
}
#tabManager {
  height: 43.21vh;
  border: 1px solid red;
  width: 22%;
  background: linear-gradient(to top, #018219, #0f0164);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.allVideos {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1%;
  row-gap: 10px;
  cursor: pointer;
}
.perVideo {
  height: 50.2vh;
  border: 1px solid red;
  background: linear-gradient(to top, #018219, #0f0164);
}

.allVideos img {
  height: 50%;
  width: 100%;
}
.perFixtures {
  height: 30.2vh;
  border: 1px solid red;
  background: linear-gradient(to top, #018219, #0f0164);
  padding: 5%;
}
.flags {
  display: flex;
  justify-content: space-between;
}

/* internal decoration of each cell in grid */
.videoText {
  padding: 0.8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
span {
  border: 1px solid white;
  width: fit-content;
  padding: 0.3vw;
  border-radius: 5px;
}
.alignIcons {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

/*bonus section*/
#mobileOnly {
  display: flex;
  margin-top: 5em;
  margin-bottom: 3em;
  justify-content: center;
  align-items: center;
  visibility: collapse;
}
/*Footer*/

footer {
  height: 35vh;
  background-color: rgb(93, 88, 88);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#headingSmall {
  font-size: 4vw;
  font-weight: 600;
  margin: 0;
}
ul {
  list-style-type: none;
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 834px) and (min-width: 376px) {
  section {
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
  }
  #tabManager {
    width: 100%;
    height: fit-content;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1vw;
    background: rgb(182, 247, 247);
    border: none;
  }
  .tabButtons {
    width: 25%;
    height: 5vh;
  }
  .allVideos {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  #mobileOnly {
    visibility: visible;
  }
  ul {
    flex-wrap: wrap;
    padding: 0;
  }
  li {
    padding: 1vw;
  }
  #title {
    height: 50vh;
  }
  footer {
    height: 50vh;
  }
  .buttons {
    font-size: 3vw;
    width: 25vw;
  }
}
@media only screen and (max-width: 375px) {
  #title {
    height: fit-content;
    flex-direction: column;
    padding: 4vw;
    padding-bottom: 0;
  }
  .buttons {
    width: 100%;
    font-size: 5vw;
  }
  h1 {
    font-size: 8vw;
    line-height: 8vw;
  }
  p {
    font-size: 3vw;
  }
  .titlePart {
    width: 100%;
  }
  section {
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
  }
  #tabManager {
    width: 100%;
    height: fit-content;
    padding: 5vw;
    background: rgb(182, 247, 247);
    border: none;
  }
  .tabButtons {
    width: 100%;
    height: 6vh;
    margin: 2vw;
    font-size: 3vw;
  }
  .allVideos {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  footer {
    height: 70vh;
    margin-top: 2vh;
  }
  ul {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  #headingSmall {
    font-size: 12vw;
  }
}
